@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
}

@layer components {
  .btn-primary {
    @apply bg-[#FFAE5D] py-1 px-5 mt-5 rounded-full hover:text-white  focus:outline-none focus:ring focus:ring-sky-300;
  }
  .srch {
    @apply w-[622px] border py-1 px-5 mt-5 rounded-full hover:text-white focus:outline-none focus:ring-[#80808080];
  }
}
